
 .logo_img{
   float: left;
   width: 50px;
   height: 50px;
  }
 .topbar-toggle {
    float: left;
    background-color: transparent;
    background-image: none;
    padding: 15px 15px;
    font-family: fontAwesome;
    color: #fff;
 }
 .topbar-toggle:before {
    content: "\f00a";
 }
 .topbar-toggle:hover {
    background-color: #367fa9;
    color: #f6f6f6;
     background: rgba(0, 0, 0, 0.1);
 }
 .topbar-toggle:focus,.topbar-toggle:active {
    background: transparent;
 }
 .topbar-toggle {
    display: none;
    color: #fff;
 }
 @media (max-width: 767px) {
    #top_nav_bar {
      display: none;
    }
    .topbar-toggle {
      display:block;
    }
 }
