
 @media (max-width: 767px) {
    #top_nav_bar {
      display: none;
    }
 }

.dropdown-menu.columns-2 {
  min-width: 260px;
}

.app-toggle {
  display:none;
}

.dropdown-menu.columns-3 {
  min-width: 390px;
}

@media (max-width: 767px) {
  .dropdown-menu.column-3 {
    min-width: 240px !important;
    overflow-x: hidden;
  }
  .app-toggle {
    display:block;
  }
  .dropdown-menu.columns-3 {
    min-width: 180px;
  }
}
